.DS_Store
.env
.env.*
.idea
.vscode/*
*.db
*.local
*.log*
*.njsproj
*.ntvs*
*.sln
*.sqlite
*.suo
*.sw?
dist*/
generated/
lerna-debug.log*
logs
node_modules
node_modules
node_modules
npm-debug.log*
pnpm-debug.log*
storybook-static
yarn-debug.log*
yarn-error.log*

!.env.example
!.vscode/extensions.json
!.vscode/settings.json
